{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
    <title>Записи сообщества {{ group.title }}</title>{% endblock title %}
{% block content %}
    <div class="container py-5">
        <h1>{{ group.title }}</h1>
        <p>{{ group.description }}</p>
        <article>
            {% for post in page_obj %}
                {% include "includes/post_list.html" %}
                {% if not forloop.last %}
                    <hr>{% endif %}
                {% empty %}
                <h4>У группы "{{ group.title }}" нет записей. Напишите что
                    нибудь!</h4>
            {% endfor %}
            {% include "includes/paginator.html" %}
        </article>
    </div>

{% endblock content %}
